{:deps {:aliases [:shadow]}
 :nrepl {:port 8889}
 :http {:port 1234}
 :dev-http {8081 "resources/public/"}
 :socket-repl {:port 9000}
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:main {:entries [speculoos.core]}}}
  :test {:target :node-test
         :output-to "resources/public/js/node-tests.js"
         :ns-regexp "-t$"
         :autorun true}}}